<div id="<%= dom_id genre %>">
  <p>
    <strong>Genre name:</strong>
    <%= genre.genre_name %>
  </p>

  <p>
    <strong>Genre description:</strong>
    <%= genre.genre_description %>
  </p>

  <h2>Books in this genre:</h2>
  <ul>
    <% if @genre && @genre.books.any? %>
      <% @genre.books.each do |book| %>
        <li>
          <%= link_to book.book_name, book_path(book) %>
        </li>
      <% end %>
    <% else %>
      <li>No books found in this genre.</li>
    <% end %>
  </ul>

</div>
