<div id="<%= dom_id genre %>">
  <p>
    <strong>Genre name:</strong>
    <%= genre.genre_name %>
  </p>

  <p>
    <strong>Genre description:</strong>
    <%= genre.genre_description %>
  </p>

</div>
