<h1>Editing reading list</h1>

<%= render "form", reading_list: @reading_list %>

<br>

<div>
  <%= link_to "Show this reading list", @reading_list %> |
  <%= link_to "Back to reading lists", reading_lists_path %>
</div>
